/* 从新开始开发 */

p {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 24px;
    margin: auto;
}

body {
    font-family: "Times New Roman", Times, serif;
    background-color: coral;
    /* 作为 一个弹性容器 */
    display: flex;
    justify-content: center;
}

#add-btn {
    background-color: #4caf50;
    color: white;
    border: none;
    padding: 10px 16px;
    font-size: 16px;
    border-radius: 5px;
    cursor: pointer;
}

#add-btn:hover {
    background-color: #45a049;
}
